In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Talnakh,RU,2021-09-23 22:33:41,69.4865,88.3972,33.08,78,7,6.91
1,1,Hobart,AU,2021-09-23 22:29:13,-42.8794,147.3294,49.86,71,20,7.00
2,2,Lebu,CL,2021-09-23 22:31:01,-37.6167,-73.6500,52.16,79,2,11.74
3,3,Marrakesh,MA,2021-09-23 22:33:42,31.6315,-8.0083,71.67,68,0,6.91
4,4,Cherskiy,RU,2021-09-23 22:33:42,68.7500,161.3000,32.40,80,75,7.34

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#city_data_df['City'] = city_data_df['City'].astype('|S')
#city_data_df['Country'] = city_data_df['Country'].astype('|S')

In [5]:
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Talnakh,RU,2021-09-23 22:33:41,69.4865,88.3972,33.08,78,7,6.91
1,1,Hobart,AU,2021-09-23 22:29:13,-42.8794,147.3294,49.86,71,20,7.00
2,2,Lebu,CL,2021-09-23 22:31:01,-37.6167,-73.6500,52.16,79,2,11.74
3,3,Marrakesh,MA,2021-09-23 22:33:42,31.6315,-8.0083,71.67,68,0,6.91
4,4,Cherskiy,RU,2021-09-23 22:33:42,68.7500,161.3000,32.40,80,75,7.34
...,...,...,...,...,...,...,...,...,...,...
552,552,Southampton,GB,2021-09-23 22:33:46,50.9040,-1.4043,60.06,88,72,1.01
553,553,San Carlos De Bariloche,AR,2021-09-23 22:37:52,-41.1456,-71.3082,60.55,27,40,14.97
554,554,Pangnirtung,CA,2021-09-23 22:37:52,66.1451,-65.7125,33.80,69,75,11.50
555,555,Sijunjung,ID,2021-09-23 22:37:53,-0.6876,100.9537,71.92,98,81,0.56
556,556,Noumea,NC,2021-09-23 22:37:53,-22.2763,166.4572,73.38,57,63,15.17

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
print(heat_layer)

WeightedHeatmap(data_bounds=[(-45.263651335405996, -179.99999), (85.0, 179.99999)], locations=[(69.4865, 88.3972), (-42.8794, 147.3294), (-37.6167, -73.65), (31.6315, -8.0083), (68.75, 161.3), (-23.1203, -134.9692), (50.6996, -127.4199), (28.2167, -106.5833), (-53.15, -70.9167), (22.8909, -109.9124), (-46.2817, 169.8464), (55.7028, 37.3822), (-54.8, -68.3), (-15.7667, 128.7333), (39.1834, -84.5333), (22.0752, -159.319), (-4.085, -63.1414), (49.9, 2.3), (-9.8, -139.0333), (25.0213, 37.2685), (66.7697, 123.3711), (35.0242, -110.6974), (-3.2997, -60.6206), (-22.9661, -42.0278), (42.097, -79.2353), (-2.5744, 150.7967), (68.0531, 39.5131), (-34.4187, 19.2345), (5.3833, -52.95), (-38.0023, -57.5575), (4.375, -7.7169), (-33.5906, 26.891), (-41.4122, 175.5153), (-2.0226, 147.2712), (-17.7333, -149.15), (22.2855, 114.1577), (16.0202, -61.7463), (24.6877, 46.7219), (-46.1927, 168.8643), (-15.1961, 12.1522), (45.4094, 141.6739), (51.8126, 26.129), (71.2906, -156.7887), (43.1439, 12.2069), (34.1667, 77.5833), (44.0787, -80.2041), (35.0502, -78.8664), (77.484, -69.3632), (-0.6, 73.0833), (34.7392, -112.0099), (38.7333, -27.0667), (16.4145, -3.6708), (-3.8004, 102.2655), (-46.6, 168.3333), (-24.8667, 113.6333), (-20.7377, 116.8463), (-34.5322, 20.0403), (-21.3585, 55.7679), (71.9667, 102.5), (41.3712, -73.414), (-19.0595, -169.9187), (-25.1667, 45.05), (-8.4667, 140.3333), (32.6667, -17.1), (19.7297, -155.09), (9.5046, 35.5019), (-21.6403, -41.0511), (60.7333, 77.5889), (28.3669, 121.36), (-24.7911, -50.0119), (35.7333, 140.8333), (-30.1811, -50.2056), (51.2585, -80.6094), (-41.8697, -73.8203), (-22.1333, 48.0167), (-1.515, -48.0447), (-33.9258, 18.4232), (-33.65, 115.3333), (39.0993, -76.8483), (69.4541, -133.0374), (25.7, 100.1833), (65.6145, -37.6368), (30.9866, 103.9393), (0.6, -80.0333), (57.3064, 88.1667), (3.0707, 172.7902), (65.9702, -18.5286), (63.05, 179.3167), (-5.55, 12.2), (55.8732, 72.1967), (54.0359, 19.0266), (69.7008, 170.3133), (59.3833, 143.3), (40.6884, -75.2207), (29.0464, 111.6783), (64.5667, 143.2), (72.7868, -56.1549), (-21.2078, -159.775), (19.4225, -99.2028), (49.1924, 26.8373), (45.5234, -122.6762), (43.2686, -7.5406), (-29.6842, -53.8069), (15.5, -84.3167), (40.5982, -124.1573), (11.2842, 49.1816), (50.6789, 156.125), (49.837, 13.5783), (-19.9, 48.8), (38.4681, 106.2731), (-42.7826, 147.0587), (-34.7333, 135.8667), (42.6001, -73.9662), (43.355, 17.3539), (50.1001, -91.917), (33.194, -82.5271), (59.7035, 30.7861), (31.7965, -106.58), (73.5069, 80.5464), (27.1467, 57.0801), (64.3833, -173.3), (-9.1667, -60.6333), (-14.9003, 50.2788), (42.4165, -122.8345), (38.5167, -28.7), (47.26, 39.87), (22.5167, 86.45), (45.9167, -1.0), (62.456, -114.3525), (-35.1667, 173.1667), (71.0357, 27.8492), (-17.7125, -39.2481), (15.8, -84.2833), (27.75, -107.6333), (56.0667, -3.7167), (69.2167, -51.1), (20.5169, -13.0499), (42.7297, 133.0839), (21.3906, -158.1547), (-21.2, -175.2), (-37.8333, 140.7667), (-33.0393, -71.6273), (-33.6971, -53.4616), (-21.55, 167.8833), (55.7435, -97.8558), (58.965, -3.296), (54.7183, 135.315), (-28.65, 153.6167), (36.8648, 70.8342), (51.1667, 94.5), (56.9514, 90.6661), (39.8161, 109.9776), (29.0361, 114.5636), (70.8578, 29.0864), (50.2334, -63.5986), (50.3643, 108.7512), (29.106, 58.357), (57.0531, -135.33), (-28.7667, 114.6), (-0.7393, -90.3518), (-22.4, 46.1167), (45.0205, -93.218), (65.8167, 87.9833), (37.1041, -113.5841), (-38.2667, 141.9667), (40.5308, -112.2983), (47.389, 17.8032), (5.6667, 73.0), (-33.918, 25.5701), (66.0317, 60.1659), (-2.6741, 141.3028), (-35.3333, -72.4167), (51.226, -58.6502), (5.7336, 102.4897), (49.9927, 16.4977), (70.4692, -68.5914), (36.4337, -99.3904), (64.8378, -147.7164), (58.6667, 66.5667), (-34.5833, 150.8552), (53.2168, -114.9854), (-20.3428, 57.7575), (-33.8667, 121.9), (16.8901, -24.9804), (29.0331, 21.5482), (14.35, 121.0167), (-7.3817, 108.2082), (-10.6167, 150.6667), (40.2833, 97.2), (61.2767, 108.0108), (34.6391, -120.4579), (-45.8742, 170.5036), (-28.783, 32.0377), (39.4101, -74.3646), (36.6177, -121.9166), (28.4167, -106.8667), (26.3544, 127.8686), (13.2167, -59.5167), (68.2191, -135.0107), (-8.7676, 160.7034), (41.7597, 86.1469), (44.9932, 124.0581), (-41.2833, 173.2833), (69.3833, 178.4167), (65.5833, -171.0), (-34.6177, -68.3301), (57.79, -152.4072), (53.5237, -2.4935), (9.4942, 50.8122), (-6.8844, 112.2051), (-6.8367, -79.9342), (-33.0117, 17.9442), (58.8053, -122.7002), (20.8667, -90.4), (45.1667, 10.7833), (-20.7333, 139.5), (25.5198, 90.2201), (71.9167, 114.0833), (64.8569, -147.8028), (38.0293, -78.4767), (39.05, -27.9833), (60.1247, 64.7758), (35.507, 27.2132), (-51.6226, -69.2181), (32.5341, 20.5791), (63.7506, -68.5145), (62.2266, -6.589), (50.5834, -111.8851), (10.9995, 122.6711), (58.2093, -6.3865), (-17.4667, 16.3333), (46.6834, -73.9159), (-20.3297, -40.2925), (19.8333, -98.9), (42.5397, 128.9972), (-8.9266, 125.4092), (-0.9492, 100.3543), (66.8014, 65.8081), (-25.2408, -53.9964), (0.6617, 30.2748), (-3.4167, 114.85), (11.5936, 37.3908), (-28.8667, 153.5667), (-5.4167, 38.0167), (6.6221, 73.07), (62.5833, 6.1333), (41.3426, -8.4775), (40.8021, -124.1637), (14.8961, -24.4956), (-33.0153, 27.9116), (-19.9842, 57.6142), (24.3448, 124.1572), (47.7941, -64.9386), (42.8, 93.45), (60.9167, -46.05), (-1.9417, -54.7383), (38.8403, -97.6114), (22.2394, 68.9678), (-20.4081, 57.7), (43.7501, -81.7165), (21.3469, -158.0858), (10.0667, 34.5333), (64.2539, -15.2082), (-39.0333, -67.5833), (-20.3167, 118.5667), (2.6708, 72.8944), (71.6872, 128.8694), (59.4307, 62.3497), (-2.9248, -39.9167), (-16.4833, -151.75), (49.7834, -74.8492), (5.4802, -53.2011), (62.6667, 135.6), (-35.35, 150.4667), (-13.2, 49.05), (32.7941, -79.8626), (-20.1, 146.2667), (-20.6264, -49.6492), (9.3086, 15.8066), (12.35, 29.25), (46.6166, 10.7002), (29.5581, 34.9482), (-10.2639, -40.1958), (-35.85, -71.6), (20.7, -105.2), (9.3151, -75.2928), (37.7167, -25.4333), (65.282, -126.8329), (11.7594, 9.3392), (5.4112, 100.3354), (68.5333, 146.4167), (27.6652, 54.1371), (59.5833, 151.2833), (-45.5752, -72.0662), (64.75, 177.4833), (51.1, 66.3167), (7.0419, 134.2556), (-32.035, -52.0986), (61.994, -49.6678), (-15.6746, 35.1407), (46.8633, -114.0484), (69.1933, 33.2531), (4.8699, -2.2405), (6.5833, 3.75), (20.931, -17.0347), (18.4313, -65.8802), (-16.9167, 145.7667), (-11.3847, 43.2844), (-22.6667, 167.4833), (44.0167, 87.3167), (-26.6481, 15.1594), (-5.795, -35.2094), (60.4167, 134.5333), (38.421, -121.4238), (63.1792, 14.6357), (12.2175, 4.3792), (47.6666, -52.7314), (-26.3667, -70.05), (59.1139, 46.1414), (29.9697, 40.2064), (-17.3895, -66.1568), (28.7667, 104.6238), (10.2849, 22.7882), (21.8333, 106.7333), (55.7887, 49.1221), (51.6176, 15.3149), (18.3851, 42.4509), (14.4572, -4.9169), (41.7057, -70.2286), (-13.7, -76.2167), (39.9523, -75.1638), (32.3502, -85.1999), (-20.1883, 32.6236), (-12.0432, -77.0282), (53.1333, 132.9), (47.1666, -55.1483), (-16.1564, 33.5867), (4.95, -6.0833), (64.8945, -23.7142), (-34.0363, 23.0471), (17.0151, 54.0924), (31.3525, 27.2453), (6.3193, 16.3799), (28.2211, 61.2158), (47.7333, -3.4333), (41.4635, 48.806), (2.9333, 11.9833), (30.3344, -81.3987), (-22.4167, 14.9667), (47.6469, 53.3463), (5.5577, 95.3222), (-45.4167, 167.7167), (33.072, -16.3415), (9.9003, -74.859), (39.1502, -123.2078), (30.8127, 56.564), (52.5178, 99.825), (-12.2333, 136.7667), (50.751, 33.4747), (-14.97, 22.6814), (36.8529, -75.978), (-34.426, -58.5796), (-2.7619, -42.2744), (39.6796, -8.6868), (68.005, 35.0117), (16.9833, 73.3), (56.4216, 53.7757), (62.55, 155.55), (47.6833, 11.5667), (65.1472, 57.2244), (50.2536, -96.0612), (36.6167, 101.7667), (-34.4833, -54.3333), (51.6828, 102.1408), (55.568, 28.1971), (66.8333, 70.8333), (-34.5667, 146.4), (-23.65, -70.4), (60.34, 102.2797), (18.6853, 12.9164), (-31.4333, 152.9167), (38.8876, -76.5119), (-46.1333, 167.6833), (17.4924, 44.1277), (-29.6643, 17.8865), (41.734, 45.3315), (7.7669, -72.225), (-23.8597, 35.3472), (55.3422, -131.6461), (51.3978, 83.5598), (-13.8745, -171.5986), (46.6806, 113.2792), (-30.0319, -70.7081), (45.8779, 10.1812), (-9.0763, 143.2092), (67.667, 12.6934), (38.3645, -98.7648), (52.3333, 124.7333), (59.5994, 54.3125), (40.4272, 71.7189), (67.45, 153.6833), (12.6497, 0.4931), (36.0649, 69.1334), (41.5102, -112.0155), (34.5, 62.0), (28.1227, -16.726), (-31.6683, 18.5012), (30.7621, -86.5705), (66.9395, -53.6735), (65.9939, 57.5281), (12.5847, -81.7006), (-34.0527, 23.3716), (48.0056, 91.6419), (27.9769, -114.0611), (-23.865, 35.3833), (68.1214, 13.5031), (48.1863, 0.6536), (51.9167, 4.3833), (66.3167, -179.1667), (-22.2919, -51.9064), (-26.5333, 29.9833), (-2.6833, 111.6167), (70.6333, 147.9167), (78.2186, 15.6401), (39.7432, 98.5174), (-23.0439, 29.9032), (25.2919, 60.643), (46.5389, 138.3297), (57.0679, 27.9138), (40.6667, -0.6667), (40.8061, 140.3861), (27.5667, 76.6), (-34.0033, 24.7314), (68.6073, 31.7962), (60.7253, 114.9278), (36.0942, 28.0157), (42.7762, -9.0603), (38.3032, -77.4605), (55.1789, 53.8028), (9.6, -5.2), (-1.195, -46.02), (-8.4689, 29.6619), (35.1333, 140.3), (-10.1667, 123.5833), (24.4667, 54.3667), (14.3501, -3.6104), (49.6261, -1.6435), (60.1432, -45.2371), (6.4833, 38.5167), (-9.6567, 120.2641), (27.9167, 96.1667), (60.4078, 57.082), (48.5722, 83.6542), (64.8621, 11.2373), (20.1986, 1.0114), (20.5022, -10.0711), (19.6667, 78.5333), (-3.1374, 142.3475), (-35.1, 173.7833), (-11.0964, -77.6139), (44.2911, -105.5022), (3.3803, -59.7968), (62.8487, 34.8262), (51.65, -103.5343), (27.9054, -15.4461), (26.5921, 12.7805), (18.2164, 42.5053), (-9.4333, 159.95), (37.7021, -121.9358), (1.6481, 14.5806), (38.8511, 115.4903), (15.25, -91.75), (45.7833, -108.5007), (57.1281, 73.8282), (22.5667, 59.5289), (13.9297, 41.6925), (-21.6989, -57.8825), (42.4308, 130.6434), (44.7561, 136.2939), (43.6407, 5.0954), (49.758, 129.523), (54.1508, 33.2815), (47.8043, 67.7144), (40.1629, -8.3327), (53.858, 120.875), (-0.2167, 20.8667), (36.6864, 52.5225), (-34.3759, -55.2377), (-0.9131, 122.8766), (52.85, -102.3842), (12.5579, -12.1743), (39.7684, -86.1555), (42.3505, -114.6445), (10.5669, 72.642), (14.5333, 20.9167), (60.3778, 92.6267), (5.9485, 80.5353), (-4.0667, 37.7333), (63.8424, -22.4338), (-0.3167, 102.35), (44.7142, 43.0008), (-5.3582, 104.9744), (5.2618, 120.0807), (33.0833, -16.3333), (54.9375, 68.5394), (31.4583, 131.2333), (-3.9443, 119.7848), (4.2323, 100.6298), (31.8543, -110.9937), (50.0979, 118.0369), (33.6416, 42.8251), (45.7625, 106.2708), (-29.2269, -53.6817), (41.1231, 80.2644), (28.6585, -17.9182), (24.0934, 32.907), (32.7562, -91.8724), (33.5, 132.55), (50.3, 87.7333), (45.8667, 25.7833), (34.1628, 113.4639), (-38.5473, -58.7368), (-23.5333, 148.1667), (53.5835, -116.4356), (-19.55, 169.2667), (-10.8764, 26.5969), (54.3161, -130.3201), (51.3223, 42.7678), (43.3, 52.8), (65.8522, 44.24), (5.3505, 48.5268), (-9.1061, 124.8925), (10.4396, 45.0143), (41.2646, 43.5916), (20.0, -3.0), (12.458, 75.959), (21.8525, -78.1169), (7.7102, 81.6924), (21.5028, -158.0236), (37.7333, -25.6667), (46.4856, 135.8833), (43.4198, -4.7549), (-32.5, 137.7667), (58.1831, 94.7592), (-6.1761, 143.6513), (44.7103, 39.2244), (65.75, 150.85), (45.1805, -89.6835), (-13.8833, 167.55), (-7.7479, 112.0132), (46.95, 24.05), (40.4163, -120.653), (50.904, -1.4043), (-41.1456, -71.3082), (66.1451, -65.7125), (-0.6876, 100.9537), (-22.2763, 166.4572)], weights=[33.08, 49.86, 52.16, 71.67, 32.4, 74.14, 55.58, 75.52, 46.51, 94.51, 52.99, 48.34, 47.86, 57.18, 65.98, 82.38, 77.5, 62.26, 78.03, 83.34, 38.21, 87.96, 75.78, 67.96, 55.51, 83.59, 44.67, 56.89, 80.56, 53.62, 77.95, 61.07, 59.31, 82.62, 84.22, 84.33, 81.9, 86.14, 53.47, 65.89, 56.97, 51.19, 26.62, 60.48, 51.58, 56.62, 77.5, 16.3, 80.33, 93.38, 70.05, 94.24, 74.66, 53.8, 66.27, 73.6, 54.72, 69.35, 32.76, 77.02, 78.69, 66.52, 79.12, 70.43, 84.27, 58.44, 67.12, 40.98, 74.91, 54.59, 70.2, 61.72, 53.6, 54.43, 65.48, 84.22, 59.88, 43.09, 71.06, 35.6, 58.39, 35.76, 72.07, 74.43, 31.24, 83.05, 37.33, 36.41, 75.51, 38.88, 52.88, 29.16, 51.87, 68.85, 78.93, 43.57, 28.42, 75.25, 72.81, 45.46, 77.56, 60.55, 60.1, 86.04, 77.86, 90.25, 48.85, 59.68, 66.85, 65.59, 49.75, 55.04, 76.64, 47.03, 71.98, 77.68, 46.29, 88.32, 34.52, 81.9, 32.11, 86.11, 70.74, 86.76, 70.47, 52.86, 75.2, 61.86, 46.92, 58.89, 42.71, 70.09, 82.45, 61.45, 59.83, 24.82, 93.09, 58.32, 87.75, 78.96, 51.71, 77.23, 54.88, 71.11, 60.96, 53.85, 48.34, 70.05, 59.54, 36.1, 28.15, 56.14, 75.9, 42.58, 53.96, 35.6, 82.13, 55.29, 48.61, 75.16, 61.45, 75.92, 26.56, 95.47, 52.75, 77.07, 59.61, 82.33, 61.11, 36.72, 77.29, 55.8, 49.5, 76.87, 62.69, 30.43, 87.03, 42.76, 37.74, 71.06, 51.91, 72.21, 51.64, 80.15, 79.92, 79.83, 71.35, 77.88, 59.85, 37.56, 87.94, 55.8, 64.76, 71.01, 95.14, 64.92, 79.83, 83.01, 38.12, 80.46, 65.32, 51.75, 65.8, 28.02, 33.01, 69.37, 44.11, 60.22, 77.63, 79.43, 68.29, 50.05, 54.99, 82.78, 65.35, 64.17, 72.88, 33.51, 43.59, 70.05, 69.28, 39.78, 67.96, 51.85, 74.41, 31.73, 50.92, 64.18, 78.91, 55.92, 78.55, 69.89, 67.95, 72.16, 53.01, 65.7, 75.25, 33.8, 76.08, 60.66, 77.09, 60.03, 69.78, 66.45, 82.33, 48.9, 67.46, 78.13, 79.0, 66.54, 72.46, 82.53, 68.58, 63.07, 41.22, 86.34, 86.02, 80.55, 72.25, 57.2, 86.32, 60.91, 41.68, 73.8, 60.85, 82.72, 37.13, 35.56, 79.12, 78.19, 47.98, 80.73, 42.19, 70.88, 66.7, 78.98, 70.32, 82.62, 71.47, 79.7, 56.66, 82.24, 70.84, 56.46, 89.22, 76.57, 68.41, 37.44, 74.37, 79.9, 39.67, 76.95, 48.6, 53.55, 32.5, 37.4, 79.3, 60.94, 32.86, 58.84, 77.27, 46.18, 76.35, 79.12, 69.78, 85.96, 77.11, 75.74, 67.55, 56.19, 58.62, 80.82, 42.21, 98.89, 43.25, 76.24, 58.28, 67.66, 46.42, 78.37, 67.75, 75.51, 71.08, 72.81, 48.81, 57.61, 64.51, 87.46, 76.44, 66.25, 68.49, 74.8, 52.38, 60.13, 41.81, 60.71, 70.36, 75.92, 44.02, 61.18, 84.29, 73.94, 68.77, 72.07, 60.82, 63.41, 67.15, 84.42, 49.46, 64.27, 78.76, 48.7, 70.18, 78.62, 99.88, 72.23, 35.47, 77.61, 43.52, 67.84, 69.85, 62.26, 79.77, 62.31, 42.39, 76.66, 48.85, 40.28, 56.01, 38.37, 68.79, 52.14, 51.21, 42.42, 44.35, 39.15, 58.91, 58.28, 25.61, 86.23, 62.56, 71.55, 53.82, 74.05, 51.87, 55.83, 77.18, 63.82, 53.58, 36.32, 83.98, 47.23, 53.33, 64.74, 77.04, 48.88, 88.97, 49.57, 37.11, 61.52, 36.68, 78.17, 62.02, 80.19, 67.19, 71.51, 54.41, 80.08, 28.24, 37.65, 86.02, 59.77, 42.15, 81.84, 65.17, 47.59, 57.65, 61.07, 26.76, 76.93, 56.16, 74.39, 32.2, 44.44, 59.45, 55.69, 81.19, 54.1, 42.57, 58.96, 66.61, 78.01, 59.88, 46.53, 38.28, 71.94, 67.23, 73.44, 52.92, 75.02, 80.26, 75.51, 75.31, 73.98, 87.91, 85.5, 59.49, 35.98, 47.98, 78.33, 73.54, 35.83, 40.39, 49.05, 91.94, 92.82, 75.67, 80.42, 61.32, 63.18, 74.68, 81.36, 45.81, 59.02, 71.01, 81.28, 64.22, 84.94, 98.83, 70.54, 64.83, 70.14, 79.36, 38.23, 85.14, 88.56, 83.5, 60.39, 56.19, 62.71, 47.79, 40.3, 42.53, 66.04, 42.76, 69.82, 72.9, 55.87, 76.15, 59.7, 77.94, 66.61, 68.34, 81.27, 86.59, 31.78, 78.44, 64.76, 42.75, 73.17, 51.94, 72.91, 80.71, 67.42, 42.01, 73.44, 75.6, 77.36, 83.25, 41.23, 82.87, 47.48, 55.78, 64.71, 69.55, 87.1, 80.28, 67.62, 20.97, 42.82, 70.07, 59.04, 66.34, 57.34, 75.31, 66.47, 51.89, 44.51, 69.26, 45.07, 77.41, 75.81, 91.11, 48.65, 91.62, 67.48, 83.44, 80.04, 84.52, 68.72, 46.53, 64.87, 66.7, 33.6, 57.9, 55.22, 41.36, 71.37, 83.07, 76.73, 44.92, 79.83, 60.06, 60.55, 33.8, 71.92, 73.38])

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Valentin Gomez Farias,MX,2021-09-23 22:33:44,28.2167,-106.5833,75.52,41,42,0.98
15,15,Kapaa,US,2021-09-23 22:33:47,22.0752,-159.3190,82.38,74,40,5.99
16,16,Coari,BR,2021-09-23 22:33:47,-4.0850,-63.1414,77.50,85,98,2.77
18,18,Atuona,PF,2021-09-23 22:33:48,-9.8000,-139.0333,78.03,75,9,17.00
19,19,Umm Lajj,SA,2021-09-23 22:33:49,25.0213,37.2685,83.34,62,2,9.48
21,21,Winslow,US,2021-09-23 22:33:50,35.0242,-110.6974,87.96,16,1,1.99
22,22,Manacapuru,BR,2021-09-23 22:33:50,-3.2997,-60.6206,75.78,64,100,2.73
25,25,Kavieng,PG,2021-09-23 22:33:52,-2.5744,150.7967,83.59,70,100,11.34
28,28,Sinnamary,GF,2021-09-23 22:33:53,5.3833,-52.9500,80.56,80,35,11.72
30,30,Harper,LR,2021-09-23 22:33:54,4.3750,-7.7169,77.95,87,39,6.67

In [18]:
preferred_cities_df.count()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
7   Valentin Gomez Farias      MX     75.52  28.2167 -106.5833
15                  Kapaa      US     82.38  22.0752 -159.3190
16                  Coari      BR     77.50  -4.0850  -63.1414
18                 Atuona      PF     78.03  -9.8000 -139.0333
19               Umm Lajj      SA     83.34  25.0213   37.2685
21                Winslow      US     87.96  35.0242 -110.6974
22             Manacapuru      BR     75.78  -3.2997  -60.6206
25                Kavieng      PG     83.59  -2.5744  150.7967
28              Sinnamary      GF     80.56   5.3833  -52.9500
30                 Harper      LR     77.95   4.3750   -7.7169

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dict
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

In [ ]:
hotel_df.head(10)